.chart rect{
    fill: blueviolet;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.chart rect:hover{
    fill: rosybrown;
}
#tooltip{
    border: 1px solid black;
    border-radius: 6px;
    position: absolute;
    display: none;
    padding: 6px;
    background-color: royalblue;
}
#app{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
line{
    stroke:black; 
}
text{
    font-size: 12px;
    fill: black;
    text-anchor: end;
}
.blue{
    fill: #66f;
    text-anchor: middle;
}
.big{
    font-size: 30px;
}
.small{
    font-size: 12px;
}